/* FONTES PERSONALIZADAS MANIER */
@font-face {
  font-family: 'Manier';
  src: url('../assets/fonts/Manier-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Manier';
  src: url('../assets/fonts/Manier-ThinItalic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Manier';
  src: url('../assets/fonts/Manier-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Manier';
  src: url('../assets/fonts/Manier-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Manier';
  src: url('../assets/fonts/Manier-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Manier';
  src: url('../assets/fonts/Manier-RegularItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Manier';
  src: url('../assets/fonts/Manier-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Manier';
  src: url('../assets/fonts/Manier-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Manier';
  src: url('../assets/fonts/Manier-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Manier';
  src: url('../assets/fonts/Manier-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Manier';
  src: url('../assets/fonts/Manier-Heavy.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Manier';
  src: url('../assets/fonts/Manier-HeavyItalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}

/* Raleway – todos os pesos */

/* 100 */
.raleway-landing-100 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

/* 200 */
.raleway-landing-200 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

/* 300 */
.raleway-landing-300 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

/* 400 */
.raleway-landing-400 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* 500 */
.raleway-landing-500 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* 600 */
.raleway-landing-600 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

/* 700 */
.raleway-landing-700 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/* 800 */
.raleway-landing-800 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

/* 900 */
.raleway-landing-900 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}


/* MOBILE FIRST! */
:root {
  --azul-principal: #0c667b;
  --azul-medio: #79ccda;
  --azul-claro: #c6f6fa;
  --vinho-escuro: #54303b;
  --roxo-medio: #7b4f60;
  --rosa-medio: #f8c6cc;
  --rosa-claro: #fce9ec;
  --preto: #000000;
  --cinza: #efefef;
  --branco: #ffffff;

  /* Layout tokens */
  --container-max: 1200px;

  --radius-xl: 48px;
  --radius-lg: 36px;
  --radius-md: 16px;
  --radius-sm: 8px;
  --radius-x-sm: 4px;

  --letter-spacing-2: 2px;

  /* Escala de espaçamento baseada em 8px */
  --space-1: 0.5rem;
  /* 8px */
  --space-2: 1rem;
  /* 16px */
  --space-3: 1.5rem;
  /* 24px */
  --space-4: 2rem;
  /* 16px */
  --space-5: 2.5rem;
  /* 20px */
  --space-6: 3rem;
  /* 24px */
  --space-7: 3.5rem;
  /* 28px */
  --space-8: 4rem;
  /* 32px */
  --space-9: 4.5rem;
  /* 36px */
  --space-10: 5rem;
  /* 40px */
  --space-11: 5.5rem;
  /* 44px */
  --space-12: 6rem;
  /* 48px */
  --space-13: 7rem;
  /* 56px */
  --space-14: 8rem;
  /* 64px */
  --space-16: 10rem;
  /* 80px */
  --space-20: 12rem;
  /* 96px */
  --space-24: 16rem;
  /* 128px */

    /* Pesos comuns */
  --font-thin: 100;
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;
  --font-heavy: 900;

  /* Font-family principal e secundária */
  --font-primary: 'Manier', 'Raleway', Arial, sans-serif;
  --font-secondary: 'Raleway', Arial, sans-serif;

  /* Pesos comuns */
  --font-thin: 100;
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;
  --font-heavy: 900;

  /* Tipografia fluida */
  --font-size-sm: 0.9rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.75rem;
  --font-size-xxl: 2rem;
  --font-size-xxxl: 2.25rem;
}

@media (min-width: 1024px)  {
  :root {
    --font-size-sm: clamp(0.9rem, 0.9vw + 0.5rem, 1rem);
    --font-size-base: clamp(1rem, 1vw + 0.5rem, 1.125rem);
    --font-size-lg: clamp(1.25rem, 1.5vw + 0.5rem, 1.75rem);
    --font-size-xl: clamp(2rem, 3vw + 1rem, 3rem);
    --font-size-xxl: clamp(4rem, 4vw + 1rem, 4rem);
    --font-size-xxxl: clamp(5rem, 5vw + 1rem, 5rem);
  }
}

a[href^="tel"] {
  color: inherit !important;
  text-decoration: none !important;
}

meta[name="format-detection"] {
  content: "telephone=no";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-user-select: text;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Raleway', sans-serif;
  color: var(--preto);
  background-color: var(--branco);
  line-height: 1.6;
}

html, body {
  overflow-x: hidden;
}

.logo,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-regular), serif;
}

.top-bar-left img {
  height: 18px;
  /* diminui o tamanho do logo no desktop */
  width: auto;
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: var(--radius-lg);
  text-decoration: none;
  transition: all 0.3s ease;
  font-family: var(--font-secondary);
  font-size: var(--font-size-sm);
  font-weight: 600;
  min-width: 200px;
  text-align: center;
  justify-content: center;
}

.btn-white {
  border: 2px solid var(--branco);
  color: var(--branco);
}

.btn-white:hover {
  background: var(--branco);
  color: var(--vinho-escuro);
}

.btn-purple {
  border: 2px solid var(--rosa-medio);
  color: var(--rosa-medio);
}

.btn-purple:hover {
  border-color: var(--vinho-escuro);
  background: var(--vinho-escuro);
  color: var(--branco);
}

.btn-dark-purple {
  border: 2px solid var(--roxo-medio);
  color: var(--roxo-medio);
}

.btn-dark-purple:hover {
  border-color: var(--vinho-escuro);
  background: var(--vinho-escuro);
  color: var(--branco);
}

.btn-black {
  border: 2px solid var(--preto);
  color: var(--preto);
}

.btn-black:hover {
  background: var(--preto);
  color: var(--branco);
}

.divider {
  display: inline-block;
  width: 1px;
  height: 400px;
  background: var(--preto);
  margin: auto 20px auto 0;
  opacity: 0.1;
}

hr {
  border: none;
  height: 1px;
  background: var(--cinza);
  width: 70%;
  margin: var(--space-1) auto var(--space-4);
}

/* TOP BAR */
.top-bar,
.top-bar-left,
.top-bar-right,
.top-bar-hamburger,
.top-bar a {
  max-width: 100%;
  transition: all .35s ease;
}

.top-bar-hamburger .hamburger {
    margin: auto;
    width: 22px;
    height: 2px;
    background: var(--branco);
    display: block;
    position: relative;
    margin-right: 1rem;
}

.top-bar-hamburger .hamburger::before,
.top-bar-hamburger .hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background: var(--branco);
}

.top-bar-hamburger .hamburger::before {
    top: -7px
}

.top-bar-hamburger .hamburger::after {
    top: 7px
}

.top-bar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  max-width: 100%;
  height: 70px;
  height: auto;
  background-color: var(--preto);
  color: var(--branco);
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  z-index: 1002;
  padding: var(--space-1) var(--space-1);
}

.top-bar-left {
  flex: 4;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.top-bar-left h5 {
  margin: 0;
  width: 100%;
  font-size: var(--font-size-sm);
  font-weight: var(--font-bold);
  text-transform: uppercase;
}

.top-bar-right {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  margin: auto;
}

.top-bar-right.scrolled {
  transform: translateX(0px) translateY(0);
}

.top-bar-right .call-btn:hover {
  border-color: var(--branco);
  background-color: var(--branco);
  color: var(--preto);
}

.top-bar-mini-logo {
  display: none;
}

.top-bar-hamburger {
  display: flex;
  width: 36px;
  height: 36px;
  object-fit: contain;
  transition: opacity var(--transition-medium) ease, transform 0.35s ease;
  background-color: transparent;
  border: none;
}

/* estado normal: aparece abaixo */
.top-bar-bottom {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 0;
  padding: var(--space-2) 0 var(--space-6);
  background-color: var(--preto);

  position: fixed;
  z-index: 1001; /* fica atrás da top-bar */

  transform: translateY(0);
  transition: transform 0.35s ease;
}

/* estado escondido: só sobe para trás da top-bar */
.top-bar-bottom.hidden {
  transform: translateY(60px); /* sobe completamente */
}

.top-bar-bottom hr {
  border: none;
  height: 1px;
  background: var(--cinza);
  width: 70%;
  margin: 0 var(--space-1) var(--space-1);
  flex: 1 0 auto;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: var(--space-2);
  font-family: var(--font-secondary);
}

nav a {
  text-decoration: none;
  color: var(--preto);
  font-size: var(--font-size-sm);
  font-weight: var(--font-medium);
  padding: var(--space-1);
  transition: all 0.2s ease;
  display: inline-block;
}

nav a:hover {
  color: var(--vinho-escuro);
  transform: scale(1.1);
}

.call-btn {
  font-size: 0.95rem;
  padding: 0.4rem 0.8rem;
}

/* TOP BAR */

/* HEADER */
header {
  display: none;
}
/* HEADER */

/* HERO */
.hero {
  min-height: 86vh;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--branco);
  padding: var(--space-6) var(--space-1) var(--space-4);
  justify-content: space-between;
}

.hero-content {
  flex: 5;
  display: flex;
  position: relative;
  z-index: 1;
  color: var(--branco);
  max-width: none;
  justify-content: end;
  align-items: start;
  flex-direction: column;
  gap: 0;
}

.hero h1 {
  flex: 3;
  margin: 0 auto;
  width: 100%;
  font-weight: 300;
  line-height: 1.2;
  text-align: left;
  color: var(--preto);
  font-family: var(--font-secondary);
  font-size: var(--font-size-xxxl);
  font-weight: var(--font-bold);
  margin-bottom: -3rem;
  align-content: end;
}

.hero h1 span {
  font-family: var(--font-primary);
  font-weight: var(--font-light);
}

.hero-content .description {
  flex: 1;
  margin: 0;
  text-align: left;
  color: var(--preto);
  font-family: var(--font-secondary);
  font-size: var(--font-size-base);
  align-content: end;
  padding-bottom: var(--space-4);
  width: 70%;
}

.hero-content .btn {
  flex: 1;
  width: 100%;
  text-align: center;
  max-height: 45px;
}

.hero-content-right {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-content: start;
  justify-content: end;
  border-left: 2px var(--preto);
  gap: 4px;
}

.hero-buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  max-width: 200px;
}

.hero-buttons .btn {
  flex: 1;
  display: flex;
  align-items: center; /* Centraliza verticalmente */
  justify-content: center; /* Centraliza horizontalmente (opcional) */
}

.hero-content-logo  {
  width: 40px;
}

.cta-hero {
  height: 300px;
  display: flex;
  flex-flow: column;
  background-color: var(--vinho-escuro);
  color: var(--branco);
  padding: var(--space-1);
  justify-content: center;
}

.cta-hero-top {
  flex: 1;
}

.cta-hero-top h1 {
  font-family: var(--font-primary);
  font-size: var(--font-size-xxxl);
  font-weight: var(--font-light);
  width: 100%;
  margin: var(--space-1) auto;
  text-align: center;
  line-height: 1.2;
}

.cta-hero-bottom {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: end;
  align-items: center;
}

.cta-hero-bottom a {
  flex: 1;
  text-align: center;
}

.cta-hero-top,
.cta-hero-bottom {
  opacity: 0;
  transition: 0.8s ease;
}

.cta-hero-top {
  transform: translateX(-60px);
}

.cta-hero-bottom {
  transform: translateX(60px);
}

.cta-hero.show .cta-hero-top,
.cta-hero.show .cta-hero-bottom {
  opacity: 1;
  transform: translateX(0);
}

.cta-hero-bottom .btn {
  height: 40px;
  max-width: 250px;
  margin: 0 auto;
  font-size: var(--font-size-sm);
  display: flex;
  align-items: center; /* Centraliza verticalmente */
  justify-content: center; /* Centraliza horizontalmente (opcional) */
}
/* HERO */

/* SERVICOS */
.servicos {
  display: flex;
  flex-direction: column;
  gap: var(--space-5);
  background-color: var(--preto);
  padding: var(--space-1);
  color: var(--branco);
  font-family: var(--font-primary);
  text-align: center;
}

.servicos h2 {
  flex: 1;
  font-size: var(--font-size-xxxl);
  font-weight: 300;
  margin: var(--space-4) 0 0;
}

.servicos-row {
  display: flex;
  flex-direction: column;
  height: auto;
}

.servicos-row h5 {
  font-size: var(--font-size-xl);
  line-height: 1.2;
  font-weight: 300;
  margin-bottom: var(--space-1);
}

.servicos-row p {
  font-size: var(--font-size-base);
  font-family: var(--font-secondary);
  font-weight: 300;
  margin: 0 auto;
  width: 80%;
  margin-bottom: var(--space-4);
}

.servicos-row-left {
  flex: 1;
  align-content: center;
  text-align: center;
}

.servicos-row-left img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  padding: 0;
}

.servicos-row-left .btn {
  max-width: 250px;
  margin: auto;
  margin-bottom: var(--space-4);
}

.servicos-row-right {
  flex: 1;
  align-content: center;
  text-align: center;
}

.servicos-row-right img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  padding: 0;
}

.servicos-cta {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  min-height: 225px;
  padding: var(--space-1) 0;
}

.servicos-cta-left {
  flex: 2;
}

.servicos-cta-left h1 {
  font-family: var(--font-primary);
  font-size: var(--font-size-xl);
  font-weight: 300;
  line-height: 1.2;
  text-align: center;
}

.servicos-cta-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: end;
}

.servicos-cta-right .btn {
  width: 100%;
  height: 50px;
  font-size: var(--font-size-base);
  align-content: center;
  margin-bottom: var(--space-4);
}

.servicos-cta-left,
.servicos-cta-right {
  opacity: 0;
  transition: 0.8s ease;
}

.servicos-cta-left {
  transform: translateX(-60px);
}

.servicos-cta-right {
  transform: translateX(60px);
}

.servicos-cta.show .servicos-cta-left,
.servicos-cta.show .servicos-cta-right {
  opacity: 1;
  transform: translateX(0);
}
/* SERVICOS */

/* CLIENTS */
.our-clients-section {
  padding: var(--space-2) var(--space-1);
  text-align: left;
}

.our-clients-section h5 {
  display: inline-block;
  font-size: var(--font-size-sm);
  letter-spacing: 2px;
  color: var(--roxo-medio);
  text-transform: uppercase;
  margin: var(--space-5) auto var(--space-1);
  width: 100%;
  text-align: center;
}

.our-clients-section h2 {
  text-align: center;
  font-family: var(--font-primary), serif;
  font-size: var(--font-size-xl);
  color: var(--preto);
  width: 100%;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: var(--space-1);
}

.our-clients-section h4 {
  text-align: center;
  font-family: var(--font-secondary), sans-serif;
  font-size: var(--font-size-base);
  color: var(--vinho-escuro);
  font-weight: 600;
  line-height: 1.4;
  width: 80%;
  margin: 0 auto var(--space-5);
}

.clients-carousel {
  overflow: hidden;
  padding: var(--space-1) 0 var(--space-4) 0;
  margin-bottom: var(--space-1);
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

.clients-track {
  display: flex;
  gap: var(--space-8);
  align-items: center;
  width: max-content;
  will-change: transform;  
  margin: var(--space-1) 0;
}

.clients-track img {
  height: 30px;
  width: 30px;
  filter: grayscale(100%);
  opacity: 0.75;
  transition: opacity 0.25s ease;
  object-fit: contain;
  flex-shrink: 0;
  background-color: var(--cinza);
  text-align: center;
  align-content: center;
  justify-content: center;
  border-radius: var(--radius-md);
}

.clients-track img:hover {
  opacity: 1;
  filter: none;
}

/* directions:
  track-1: left -> right  (use negative translate to move left visually; we invert timing below)
  track-2: right -> left
  track-3: left -> right
*/
.clients-track-1 {
  animation: scroll-left 36s linear infinite;
}

.clients-track-2 {
  animation: scroll-right 36s linear infinite;
}

.clients-track-3 {
  animation: scroll-left 36s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-20%);
  }
}

@keyframes scroll-right {
  0% {
    transform: translateX(-60%);
  }

  100% {
    transform: translateX(-20%);
  }
}

/* ensure each track's content is wide enough for smooth loop */
.clients-track-1,
.clients-track-2,
.clients-track-3 {
  /* duplicate content expected in HTML for seamless loop */
  padding: 0 2rem;
}

.client-logo-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: auto;        
  height: auto;
  padding: 0;
  background: transparent;
  border-radius: 0;
  transition: transform 0.3s ease;
}

.client-logo-container:hover {
  transform: scale(1.05);
}

.client-logo-container img {
  display: block;
  width: auto;
  height: auto;
  max-width: 120px;
  max-height: 100px;
  object-fit: contain; 
  background-color: transparent;
  filter: grayscale(100%);
  opacity: 0.85;
  transition: all 0.3s ease;
}

.client-logo-container:hover img {
  opacity: 1;
  filter: grayscale(0);
}

/* footer area */
.our-clients-footer {
  background-color: var(--cinza);
  margin: 0 -1rem;
  padding: var(--space-4) var(--space-2);    
}

.our-clients-footer h3 {
  font-family: var(--font-primary), serif;
  font-size: var(--font-size-xl);
  color: var(--preto);
  width: 100%;
  margin: 0 auto;
  margin-bottom: var(--space-4);
  font-weight: var(--font-light);
  line-height: 1.2;
}

/* CLIENTS */

/* AQUI NOS */
.aqui-nos {
  display: flex;
  flex-direction: column;
  padding: var(--space-4) 0;
  height: auto;
}

.aqui-nos h2 {
  font-family: var(--font-secondary);
  font-size: var(--font-size-xl);
  line-height: 1.2;
  width: 90%;
  margin-bottom: var(--space-4);
}

.aqui-nos h2 span {
  font-family: var(--font-primary);
  font-weight: var(--font-light);
}

.aqui-nos-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: var(--space-1);
}

.aqui-nos-center {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--space-1);
}

.aqui-nos-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: var(--space-1);
}

.aqui-nos-left,
.aqui-nos-center,
.aqui-nos-right {
  opacity: 0;
  transform: translateX(-40px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.show-left {
  opacity: 1;
  transform: translateX(0);
}

.show-center {
  opacity: 1;
  transform: translateX(0);
}

.show-right {
  opacity: 1;
  transform: translateX(0);
}


/* AQUI NOS */

/* FOOTER */
.footer {
  background-color: var(--azul-principal);
  padding: var(--space-6) var(--space-1) var(--space-2);
  text-align: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  margin: 0 auto var(--space-1);
  gap: var(--space-2);
}

.footer-content h2 {
  text-align: center;
  display: flex;
  flex-direction: column;
  color: var(--branco);
  font-family: var(--font-secondary), serif;
  font-size: var(--font-size-lg);
  font-weight: var(--font-medium);
  margin: 0;
  width: 100%;
  line-height: 1.3;
}

.footer-cta {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-content: start;
  gap: var(--space-2);
  justify-content: center;
  margin: 0;
  flex-wrap: wrap;
}

.footer-cta .btn {
  flex: 1;
  padding: var(--space-1) var(--space-1);
  width: 100%;
  font-size: var(--font-size-base);
}

.footer-cta .btn-primary {
  background: var(--branco);
  color: var(--azul-principal);
  border: 2px solid var(--branco);
  text-decoration: none;
  border-radius: var(--radius-xl);
  transition: all 0.2s;
  display: inline-block;
  margin-bottom: var(--space-2);
}

.footer-cta .btn-primary:hover {
  background: transparent;
  color: var(--branco);
}

.footer-contact {
  margin-bottom: var(--space-10);
}

.footer-socials {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--space-2);
  justify-content: center;
  align-items: center;
  margin-bottom: var(--space-2);
}

.footer-socials a {
  text-align: left;
  display: flex;
  color: var(--branco);
  transition: all 0.2s;
  text-decoration: none;
}

.footer-socials a:hover {
  color: var(--azul-claro);
  transform: scale(1.1);
}

.footer-socials img {
  width: 30px;
  height: 30px;
  filter: brightness(0) invert(1);
}

.footer-rights {
  flex: 1;
  text-align: center;
  color: var(--branco);
}

.footer-rights p {
  color: var(--branco);
}

.footer-bottom {
  padding-top: var(--space-2);
  text-align: center;
}
/* FOOTER */

.mobile {
  display: flex;
}

.desktop {
  display: none;
}

/* DESKTOP */
@media (min-width: 1024px) {
  .top-bar.scrolled .top-bar-left h5 {
    transform: translateX(var(--space-2));
    transition: transform .55s ease;
  }

  .top-bar .top-bar-left h5 {
    transform: translateX(-42px);
    transition: transform .95s ease;
  }

  .top-bar {
    height: 70px;
    width: 100%;
    padding: var(--space-2) var(--space-5);
    display: flex;
    justify-content: space-between;
  }

  .top-bar-left h5 {
    letter-spacing: 2px;
    font-size: var(--font-size-base);
  }

  .top-bar.scrolled .top-bar-hamburger,
  .top-bar.scrolled .top-bar-mini-logo {
    display: inline-block;
    opacity: 1;
    transform: translateX(0px);
  }

  .top-bar.scrolled .top-bar-mini-logo {
    display: inline-block;
    opacity: 1;
    transform: translateX(0px);
  }

  .top-bar.scrolled .top-bar-left h5 {
    transform: translateX(var(--space-2));
  }

  .top-bar-bottom {
    align-content: center;
    justify-content: start;
    padding: var(--space-4) var(--space-5);
  }

  .header-left {
    display: flex;
    flex-direction: row;
    gap: var(--space-2);
    align-items: center;
  }

  nav a {
    padding: var(--space-1) var(--space-1) var(--space-1) 0;
  }
  /* TOP BAR */
  
  /* HEADER */
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: var(--space-2) var(--space-5);
    position: relative;
    top: 70px;
    left: 0;
    width: 100vw;
    z-index: 1000;
  }  

  .logo {
    margin-bottom: 0;
    font-size: 1rem;
  }

  .logo img {
    height: 18px;
    /* diminui o tamanho do logo no desktop */
    width: auto;
  }
  /* HEADER */

  /* HERO */
  .hero {
    flex-direction: row;
    height: 900px;
    margin-top: -100px;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    padding: 25% 0 var(--space-10) var(--space-6);
  }

  .hero-content .description {
    padding: 0;
  }

  .hero-content-right a {
    display: flex;
    align-items: flex-end;   /* bottom */
    justify-content: flex-end; /* right */
    width: 40px;   /* ajuste ao tamanho desejado */
    height: 40px;  /* ajuste ao tamanho desejado */
  }

  .hero h1 span {
    font-family: var(--font-primary);
    font-weight: var(--font-light);
  }

  .hero h1 {
    text-align: left;
    width: 100%;
    font-size: var(--font-size-xxxl);
    margin-bottom: var(--space-3);
    font-family: var(--font-secondary);
    font-weight: var(--font-bold);
  }

  .hero .description {
    font-size: var(--font-size-base);
    font-family: var(--font-secondary);
    color: var(--preto);
    font-weight: var(--font-medium);
    width: 280px;
    align-content: end;
  }

  .hero-buttons {
    flex-direction: row;
    gap: var(--space-1);
    align-items: center;
    margin: 0 auto;
    width: 300px;
  }

  .hero-content-right {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    gap: var(--space-1);
    margin: 0;
    padding:  0 var(--space-5) var(--space-10);
  }

  .hero-content-logo {
    cursor: pointer;
    width: 40px;
    transition: transform 0.20s ease-in;  
  }

  .hero-content-logo:hover {
    transform: scale(1.25);
  }

  .cta-hero {
    height: 800px;
    padding: var(--space-12) var(--space-6);
    justify-content: start;
    align-content: space-between;
  }

  .cta-hero h1 {
    text-align: left;
    font-size: var(--font-size-xxxl);
    width: 100%;
    margin: 0;
  }

  .cta-hero-bottom {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: end;
    align-items: end;
  }

  .cta-hero-bottom .btn {
      max-width: 400px;
      height: 80px;
      font-size: var(--font-size-lg);
      align-content: center;
      margin: 0;
  }
  /* HERO */

  /* SERVICOS */
  .servicos {
    gap: var(--space-10);
    padding: var(--space-5);
  }

  .servicos h2 {
    font-size: var(--font-size-xxxl);
    margin: var(--space-10) 0;
  }

  .servicos-row {
    display: flex;
    flex-direction: row;
    padding: var(--space-2);
    height: 600px;
  }

  .servicos-row h5 {
    font-size: var(--font-size-xxl);
  }

  .servicos-row p {
    font-size: var(--font-size-base);
    margin: 0 auto;
    width: 50%;
  }

  .servicos-row-left {
    flex: 1;
    align-content: center;
    text-align: center;
  }

  .servicos-row-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 0 var(--space-5);
  }

   .servicos-row-left .btn {
    max-width: 300px;
    margin: var(--space-3) auto;
   }

  .servicos-row-right {
    flex: 1;
    align-content: center;
    text-align: center;
  }

  .servicos-row-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 0 var(--space-5);
  }

   .servicos-row-right .btn {
    max-width: 300px;
    margin: var(--space-3) auto;
   }

  .servicos-cta {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-height: 900px;
    padding: var(--space-14) 0;
  }

  .servicos-cta-left {
    flex: 2;
  }

  .servicos-cta-left h1 {
    font-family: var(--font-primary);
    font-size: var(--font-size-xxxl);
    text-align: left;
  }

  .servicos-cta-right {
    flex: 1;
    display: flex;
    align-items: end;
    justify-content: end;
  }

  .servicos-cta-right .btn {
    width: 400px;
    height: 80px;
    font-size: var(--font-size-lg);
    align-content: center;
  }
  /* SERVICOS */

  /* CLIENTS */
  .our-clients-section {
    background-color: var(--cinza);
    padding: var(--space-12) var(--space-5);
    text-align: center;
  }

  .our-clients-container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: var(--branco);
    border-radius: var(--radius-lg);
  }

  .our-clients-section h5 {
    display: inline-block;
    font-size: var(--font-size-sm);
    letter-spacing: var(--letter-spacing-2);
    margin: var(--space-5) 0 var(--space-2);
  }

  .our-clients-section h2 {
    text-align: center;
    font-size: var(--font-size-xl);
    width: 70%;
    margin: 0 auto var(--space-2) auto;
  }

  .our-clients-section h4 {
    text-align: center;
    font-size: var(--font-size-base);
    width: 100%;
    margin: 0 auto var(--space-5);
  }

  .clients-carousel {
    padding: var(--space-2) 0 var(--space-2) 0;
    margin-bottom: var(--space-2);
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }

  .clients-track {
    display: flex;
    gap: var(--space-8);
    align-items: center;
    width: max-content;
    will-change: transform;  
    margin: var(--space-2) 0;
  }

  .clients-track img {
    height: 100px;
    width: 100px;
  }

  .client-logo-container img {
    max-width: 120px;
    max-height: auto;
  }

  /* footer area */
  .our-clients-footer {
    margin: var(--space-13) auto var(--space-4);
    padding: var(--space-5) auto;    
  }

  .our-clients-footer br {
    margin-bottom: var(--space-1); /* aumenta a "altura" do break */
    display: block;
  }

  .our-clients-footer h3 {
    font-size: var(--font-size-xl);
    width: 70%;
    margin: 0 auto;
    margin-bottom: var(--space-10);
    font-weight: var(--font-light);
  }
  /* CLIENTS */

  /* AQUI NOS */
  .aqui-nos {
    display: flex;
    flex-direction: column;
    padding: var(--space-10) 0 0;
    height: auto;
  }

  .aqui-nos h2 {
    margin: var(--space-10);
    font-size: var(--font-size-xxl);
    line-height: 1.2;
    width: 90%;
  }

  .aqui-nos-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: var(--space-5);
  }

  .aqui-nos-center {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--space-5);
  }

  .aqui-nos-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: var(--space-5);
  }
  /* AQUI NOS */

  /* FOOTER */
  .footer {
    padding: var(--space-10) var(--space-5) var(--space-8);
    text-align: center;
  }

  .footer-content {
    display: flex;
    flex-direction: row;
    margin: 0 auto var(--space-12);
    gap: var(--space-10);
  }

  .footer-content h2 {
    text-align: left;
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-lg);
    font-weight: var(--font-medium);
    margin: 0;
    width: 70%;
    line-height: 1.3;
  }

  .footer-cta {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-content: start;
    gap: var(--space-4);
    justify-content: center;
    margin-bottom: var(--space-10);
    flex-wrap: wrap;
  }

  .footer-cta .btn {
    padding: var(--space-3) var(--space-6);
    font-size: 1rem;
  }

  .footer-cta .btn-primary {
    text-decoration: none;
    border-radius: var(--radius-xl);
    transition: all 0.2s;
    display: inline-block;
  }

  .footer-contact {
    margin-bottom: var(--space-10);
  }

  .footer-socials {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--space-1);
    justify-content: start;
    align-items: start;
  }

  .footer-socials a {
    text-align: left;
    display: flex;
    transition: all 0.2s;
    text-decoration: none;
  }

  .footer-socials a:hover {
    transform: scale(1.1);
  }

  .footer-rights {
    flex: 1;
    text-align: left;
  }

  .footer-bottom {
    padding-top: var(--space-6);
    text-align: center;
  }
  /* FOOTER */

  .mobile {
    display: none;
  }

  .desktop {
    display: flex;
  }

  /* manter o elemento presente no fluxo para que a transição funcione */
  .top-bar-mini-logo.fade-toggle.hidden {
    /* imagem -> block */
    display: inline-block !important;
    opacity: 0;
    transform: translateY(-6px);
    pointer-events: none;
  }
}

/* === animação fade-toggle (coloque no final do style.css) === */
.fade-toggle {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;

  transition:
    opacity 2s ease-out,
    transform 2s ease-out;
}

.top-bar-hamburger.fade-toggle.hidden {
  /* hamburger é uma span dentro do botão -> inline-block funciona */
  display: inline-block !important;
  opacity: 0;
  transform: translateX(0px) translateY(-6px);
  pointer-events: none;
}

/* fallback geral para outros elementos com fade-toggle */
.fade-toggle.hidden {
  opacity: 0;
  transform: translateY(-6px);
  pointer-events: none;

  transition:
    opacity 0.20s ease-in,
    transform 0.20s ease-in;
}
